<header class="default">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">

      <button class="navbar-toggler" (click)="toggleNav()" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav link">
            <li class="nav-item">
              <a class="item " [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="item active" [routerLink]="['/about']">About</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>

<section>

  <div class="home">

  </div>
  <article class="content">
    <h2>{{content.about}}</h2>
    <h3>{{content.init}}</h3>
    <p>
      {{content.textInit}}
    </p>

    <h3>{{content.titleFigueirense}}</h3>
    <p>
      {{content.textFigueirense}}
    </p>

    <h3>{{content.titleHoffenheim}}</h3>
    <p>
      {{content.textHoffenheim}}
    </p>

    <h3>{{content.titleLiverpool}}</h3>
    <h4>{{content.year15}}</h4>
    <p>
      {{content.textLiverpool}}
    </p>

    <h4>{{content.year16}}</h4>
    <p>
      {{content.text16}}
    </p>

    <h4>{{content.year17}}</h4>
    <p>
      {{content.text17}}
    </p>

    <h4>{{content.year18}}</h4>
    <p>
      {{content.text18}}
    </p>

    <h4>{{content.year19}}</h4>
    <p>
      {{content.text19}}
    </p>
  </article>
</section>

<footer>
  <div class="d-flex justify-content-around socialMedia">
    <a href="https://www.facebook.com/robertofirmino" class="socialMedias fab fa-facebook icons"></a>
    <a href="https://www.instagram.com/roberto_firmino/" class="socialMedias fab fa-instagram"></a>
    <a href="https://twitter.com/LFCBrasil" class="socialMedias fab fa-twitter"></a>
    <a href="https://www.youtube.com/c/LiverpoolFC" class="socialMedias fab fa-youtube"></a>
  </div>
  <div class="site d-flex justify-content-around">
    <h5 class="mt-4">Website</h5>
    <a class="mt-4" href="https://www.liverpool.com">https://www.liverpool.com</a>
  </div>
</footer>

