<header class="default">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">

      <button class="navbar-toggler" (click)="toggleNav()" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav link d-flex ">
            <li class="nav-item">
              <a class="item active " [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="item" [routerLink]="['/about']">About</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>

<section class="home ">
  <div class="text">
    <h3>My Name Is:</h3>
    <h1 class="center">Firmino</h1>
    <h3 class="color">Jogador De Futebol Brasileiro</h3>
  </div>
</section>

<section class="container">
  <h1>Times Jogados</h1>
  <div class="teams grid d-flex justify-content-around">
    <a class="list" *ngFor="let team of teams" routerLink="/detail/{{ team.id }}">
      <h2>{{ team.name }}</h2>
      <img src="{{team.imageUrl}}">
      <p>{{ team.champions }}</p>
    </a>
  </div>
</section>

<div class="container">
  <div class="teams d-flex justify-content-around ">
    <a class="list" [routerLink]="['/new']">
      <mat-icon class="add">add_circle_outline</mat-icon>
    </a>
  </div>
</div>

<footer>
  <div class="d-flex justify-content-around socialMedia">
    <a href="https://www.facebook.com/robertofirmino" class="socialMedias fab fa-facebook icons"></a>
    <a href="https://www.instagram.com/roberto_firmino/" class="socialMedias fab fa-instagram"></a>
    <a href="https://twitter.com/LFCBrasil" class="socialMedias fab fa-twitter"></a>
    <a href="https://www.youtube.com/c/LiverpoolFC" class="socialMedias fab fa-youtube"></a>
  </div>
  <div class="site d-flex justify-content-around">
    <h5 class="mt-4">Website</h5>
    <a class="mt-4" href="https://www.liverpool.com">https://www.liverpool.com</a>
  </div>
</footer>

